/* .nav-background{
    background: rgb(4,59,65);
    background: linear-gradient(215deg, rgba(4,59,65,1) 0%, rgba(66,66,129,1) 35%, rgba(25,43,47,1) 100%);
} */

.nav {
    display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 60px;
    background-color: #043b41;
}

.navLink{
	text-decoration: none;
    font-size: 1.8rem;
    color: #b2f7ef;
    text-shadow:
      /* White glow */
      0 0 7px #b2f7ef,
      0 0 10px #b2f7ef,
      0 0 21px #b2f7ef,
      /* Green glow */
      0 0 42px #fff,
      0 0 82px #fff,
      0 0 92px #fff,
      0 0 102px #fff,
      0 0 151px #fff;
}