/* .container{

}    */

/* .cards{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
} */

/* .card{
    display: grid;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
} */

.card_img{
    width: 100%;
    display: block;
} 

.card-content{
    color: #7BDFF2;
    width: 100%;
    height: 100%;
}  