.form{
    width: 100%;
    height: 1000px;
    background: rgb(4,59,65);
    background: linear-gradient(215deg, rgba(4,59,65,1) 0%, rgba(66,66,129,1) 35%, rgba(25,43,47,1) 100%);
}

.form-title-container{
    display: flex;
    justify-content: center;
    margin-right: 350px;
}

.form-title{
    margin-top: 20px;
    color: antiquewhite;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.form-button{
    text-align: center;
    position:absolute; top:0; right:0;
    display: inline-block;
    margin-right: 350px;
    margin-top: 75px;
    font-size: 25px;
    height: 60px;
    width: 200px;
    cursor: pointer;
    text-decoration: none;
    color: #fca311 ;
    border: #fca311  3px solid;
    background-color: transparent;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 #fca311 , 0 0 0.5em 0 #fca311 ;
}

.form-button:hover{
    text-decoration: none;
    color: #ccff33 ;
    border: #ccff33  3px solid;
    background-color: transparent;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 #ccff33 , 0 0 0.5em 0 #ccff33 ;
}

.inputs_checkboxes{
    /* border: 1.8px solid #000; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    
}

.inputs{ 
    /* border: 1.8px solid #000;    */
    margin-top: 20px;   
    color: antiquewhite;
    float: left;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 300px;
    text-align: center;
}

.dropdowns{
    /* border: 1.8px solid #000;    */
    margin-top: 20px;   
    color: antiquewhite;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 200px;
    width: 600px;
    height: 300px;
    text-align: center;
}

.dropdown-platforms{
    display:table;
    flex-direction: column;
    overflow-y: auto;
    /* border: 1.8px solid #000;   */
}

.dropdown-genres{
    display:table;
    flex-direction: column;
    max-height: fit-content;
    /* border: 1.8px solid #000;  */
}

.platform-list{
    float: left;
    display: flex;
    /* border: 1.8px solid #000; */
    padding: 5px;
    margin-right: 50px;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

.list-delete{
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    color: red;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    display: inline-block;
    flex-direction: row;
    margin-left: 10px;
    height: 100%;
    width: 20px;
}

.input-labels{
    font-size: medium;
}

.input-name{
    font-size: medium;
    height: 20px;
    margin-bottom: 20px; 
    color: #EFF7F6;
    border: #EFF7F6 3px solid;
    background-color: transparent;
    border-radius: 5px;
    height: 35px;
    width: 300px;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 #EFF7F6, 0 0 0.5em 0 #EFF7F6;
}
.input-name:focus{
    outline : #EFF7F6;
}

.input-released{
    cursor: pointer;
}

.dropdown-input{
    cursor: pointer;
    height: 20px;
    width: 300px;
    margin: auto;
    font-size: medium;
    color: #EFF7F6;
    border: #EFF7F6 3px solid;
    background-color: transparent;
    border-radius: 5px;
    height: 35px;
    width: 300px;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 #EFF7F6, 0 0 0.5em 0 #EFF7F6;
}

.dropdown-input:focus {
    outline : #EFF7F6;
}

.input-select{
    color: black;
    background-color: #EFF7F6;
    opacity: .5;
}

.textarea-name{
    text-align: center;
}

.checkboxes{
    color: antiquewhite;
    display: inline-flex;
    flex-direction: column;
    text-align: right;
}

.form_boxes{
    margin-bottom: 7px;
}

.warning{
    margin: 0px;
    color: red;
}