.filters{
    /* border: 1.8px solid #000; */
    margin-top: 15px;
    color: antiquewhite;
    height: 50px;
    width: 800px;
    display: flex;
    margin-left: 60px;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    float: right;
}

.filter-titles{
    color: antiquewhite;
    margin-bottom: 25px;
    font-size: 17px;
}

.filters-source{
    margin-top: 7px;
    font-size: medium;
    color: #EFF7F6;
    border: #EFF7F6 3px solid;
    background-color: transparent;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 #EFF7F6, 0 0 0.5em 0 #EFF7F6;
}
.filters-source:focus {
    outline : #EFF7F6;
}

.filters-option{
    color: black;
    background-color: #EFF7F6;
    opacity: .5;
}