/* .home{
    background-color: #04052e;
} */


.title{
    font-size: 1.8rem;
    color: #F7D6E0;
    text-shadow:
      /* White glow */
      0 0 7px #F7D6E0,
      0 0 10px #F7D6E0,
      0 0 21px #F7D6E0,
      /* Green glow */
      0 0 42px #fff,
      0 0 82px #fff,
      0 0 92px #fff,
      0 0 102px #fff,
      0 0 151px #fff;
}

.description{
    font-size: 1.8rem;
    color: #b2f7ef;
    text-shadow:
      /* White glow */
      0 0 7px #b2f7ef,
      0 0 10px #b2f7ef,
      0 0 21px #b2f7ef,
      /* Green glow */
      0 0 42px #fff,
      0 0 82px #fff,
      0 0 92px #fff,
      0 0 102px #fff,
      0 0 151px #fff;
}